<div class="logincontainer">   
    <form class="row g-3" #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)">
        <div class="col-auto">
          <label for="inputPassword2" class="visually-hidden">Password</label>
          <input type="password" name = "password" class="form-control" id="inputPassword2" placeholder="Password" ngModel>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-dark mb-3">Confirm identity</button>
        </div>
      </form>
</div>