<div class="home-container" > 
  <div class="home-header" >

    <nav class="navbar navbar-expand-lg bg-body-tertiary vsnav">
      <div class="container-fluid vsnavcf">
        <button class="btn btn-outline-success vsbotton" type="submit" (click)="goToHome()">Home</button>
        <button class="btn btn-outline-success vsbotton" type="submit" (click)="logout()">Logout</button>
      </div>
    </nav>

  </div>
  <div class="home-body" > 
    <app-show-event data-bs-toggle="modal" data-bs-target="#exampleModal" *ngFor="let resourceAndDateDetail of dateAndResourceDeatailsResp ; index as i;" [resourceAndDateDetail] = resourceAndDateDetail (click)="selectEvent(resourceAndDateDetail)">
    
    </app-show-event>
    <app-add-event ></app-add-event>
    <app-open-gallery  ></app-open-gallery> 
    <app-input-events [currentEventId]=seletedEvent.dateDetail.eventId></app-input-events>
    <app-open-carousel></app-open-carousel>
</div>
</div>

<!-- Modal -->
