
.vscard-img-top{
    width: 14rem;
    height: 14rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   /* background-size: contain;
    background-color: #f5d9ff; */
}
.vscard:hover {
    background: #999;
    cursor: pointer;
}
.vs-card-body{
    background: #0e3857;/*#0e5735;*/
    color: #fff;
    border-bottom-left-radius: var(--bs-card-inner-border-radius);
    border-bottom-right-radius: var(--bs-card-inner-border-radius);
}